
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="tab-color"><h2><a href="#" class="button-js" id="booking">Your Bookings</a></h2></div>
      <div id="booking-content-js">
      <p>You have : <%= @bookings.count %> bookings</p>
      <!-- YOUR TRIPS, Your bookings to travel -->
      <div class="card">
        <div class="card-item">
          <% @bookings.each do |booking| %>
              <style>
                .red {
                  background-color: red;
                }
                .green {
                  background-color: green;
                }
              </style>



              <% if booking.status == "declined" %>
                <% color = "red" %>
              <% elsif booking.status == 'accept'  %>
                <% color = 'green' %>
              <% end %>
          <p class="<%= color %> btn-grey"><%= booking.status %></p>
          <p><%= booking.description %></p>
          <p><%= link_to "edit booking", edit_flat_booking_path(booking.flat, booking) %></p>
            <p><%= link_to "destroy booking", flat_booking_path(booking.flat, booking), method: :delete %></p>

             <p><%= link_to "accept booking",  accept_flat_booking_path(booking.flat, booking), method: :patch, class: "btn-grey green"%></p>
              <p><%= link_to "decline booking",  decline_flat_booking_path(booking.flat, booking), method: :patch, class: "btn-grey red" %></p>
          <% end %>
        </div>
      </div>
      </div>
    </div>
