



<div class="section">
  <div class="banner home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random');">
    <div class="banner-content">
      <h1>Airbnb clone</h1>
      <p>
        <span id="banner-typed-text">
        </span>
      </p>
      <div style="display: flex;">
        <p style="margin-right: 15px"><%= link_to "Start now", flats_path, class: "btn-grey" %></p>
        <p><%= link_to 'Our best flats', top10_flats_path, class: "btn-grey" %></p>
      </div>
      <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
      <div>
        <%= select_tag "timezone", options_from_collection_for_select(
          ActiveSupport::TimeZone.all.
          map { |tz| tz.tzinfo }.
          sort_by { |tzinfo| tzinfo.name },
          :name, :name),
          class: 'select2' %></div>
        </div>
      </div>
    </div>


    <div class="section">
      <div class="container">
        <div class="row">
          <% @flats.each do |flat| %>
          <div class="col-xs-12 col-sm-3">
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random');">
              <div class="">
                <div class="card-title">
                  <h2><%=flat.name %></h2>
                  <p> <%= flat.address %></p>
                </div>
              </div>
              <% if flat.user != current_user%>
              <div class="card-button">
                <button type="button" class="btn-grey" data-toggle="modal" data-target="#exampleModal">
                  Book
                </button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create your booking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= render 'bookings/form', flat: flat, booking: @booking %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn-grey">Book now</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="section">
        <div class="adjectives-box">
          <div class="card">

          </div>
        </div>
      </div>




