
      <h2 class="text-center" id="title-form">Create your new booking</h2>
      <div class="form text-center">

      <%= simple_form_for [flat, booking] do |f| %>
      <%= f.input :description, input_html: { class: 'input-form' }  %>
      <%= f.input :start_date,  as: :string, input_html: { class: 'datepicker input-form' } %>
      <%= f.input :end_date, as: :string, input_html: { class: 'datepicker input-form' } %>
      <%= f.button :submit,  class: "btn-form input-form"  %>

      <% end %>

    </div>

